.add-item-form {
  max-width: 650px;
  display: flex;
  flex-direction: column;
}

.add-item-form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.add-item-form-field label {
  font-size: 14px;
  color: var(--text);
}

.add-item-form-field input {
  width: 100%;
  min-height: 48px;
  padding: 0.75rem 1rem;

  border: 1px solid var(--border);
  border-radius: 999px;

  background: transparent;
  color: var(--text-h);
  outline: none;
}

.add-item-form-field input:focus {
  border-color: var(--accent);
}

.add-item-form-error {
  margin-bottom: 1.5rem;
  color: var(--text-h);
}

.add-item-form button {
  min-height: 48px;
  padding: 0.75rem 1.5rem;

  border: 1px solid var(--text-h);
  border-radius: 999px;

  background: var(--text-h);
  color: var(--bg);
}

.add-item-form button:hover {
  opacity: 0.85;
}